<%= render 'search/form' %>
<br/>
<br/>
<% if @products %>
  <h1 class = 'text-center' ><%= pluralize(@products.count, ' Results') %></h1>
  <% @products.each do |product| %>
    <div class = 'card-header' >
    <% if product.avatar.attached? %>
        <img class = 'product-img' src='<%= cloudinary_url(product.avatar.first.key) %>' alt='Product-image' >
      <% else %>
        <img class = 'product-img' src='https://res.cloudinary.com/devsinc-hamza/image/upload/v1664980708/ecommerce/no-product-image_m6t4yl.png' alt='Product-image' >
    <% end %>
      <div class = 'card-body' >
        <h5 class = 'card-title' > <%= product.name %></h5>
        <p class = 'card-text' >&#36 <%= product.price %></p>
        <p class = 'card-text' ><%= product.description %></p>
        <%= link_to 'Show', product_path(product), class:'btn btn-secondary' %>
      </div>
    </div>
  <br/>
  <% end %>
<% end %>
