<h2>Add a product:</h2>
<%= form_for @product do |form| %>
<% if @product.errors.any? %>
    <div id = 'error_explanation' >
      <h2>
        <%= pluralize(@product.errors.count, 'error') %> prohibited
        this product from being saved:
      </h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <div class = 'field form-group' >
    <% form.label :name %><br />
    <%= form.text_field :name, class:'form-control', placeholder:'Enter product name.', required: true %>
  </div>
  <div class = 'field form-group' >
    <% form.label :description %><br />
    <%= form.text_field :description, class:'form-control', placeholder:'Enter product description.', required: true %>
  </div>
  <div class = 'field form-group' >
    <% form.label :price %><br />
    <%= form.number_field :price, class:'form-control', placeholder:'Enter product price.', required: true %>
  </div>
  <br/>
  <%= 'Upload product images.'%>
  <div class = 'field form-group' >
    <% form.label :image %><br />
    <%= form.file_field :avatar, class:'form-control', :multiple => true %>
  </div>
  <p>
    <%= form.submit class: 'btn btn-secondary' %>
  </p>
<% end %>

<%= link_to 'Back', products_path, class: 'btn btn-dark' %>
